@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Fira+Sans+Condensed:ital,wght@0,200;0,300;0,500;0,800;1,300;1,500;1,800&family=Kaushan+Script&family=Leckerli+One&family=Source+Code+Pro:ital,wght@0,500;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

:root {
    --blue: #242582;
    --gray: #737373;
    --rose : #950740;
    --chery-red: #990011FF;
    --off-white: #E3E2DF;
    --black: #1A1A1D;
}

.logo{ 
    height: 7rem;
    width: 22rem;
}

.navbar-dark .navbar-nav .nav-link.active, .title{
    color: var(--rose) !important;
    font-weight: 700;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover  {
    color: var(--gray) !important;
}
.highlight, main > a, footer>a{
    color: var(--rose) !important;
    font-weight: 600;
}
main, footer{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.02rem;
   
}
body{
    background-color: var(--black) !important;
    color: var(--off-white) !important ;
}

main, footer{
    background: rgb(26,26,29);
background: linear-gradient(90deg, rgba(26,26,29,1) 20%, rgba(9,11,46,1) 50%, rgba(26,26,33,1) 80%);
}
.title{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.circles{
    border-radius: 5rem;
    padding: 5rem;
    position: absolute;
    filter: blur(6rem);
}
.pink{
    background-color: #e7740fab; left: 30%; bottom: 40px;
}
.blue{
    background-color: #27daceab; right: 35px; top: 200px; 
}
.orange{
    background-color: #990f50ab; left: 5%;
}
@media only screen and (max-width: 800px) {
    .circles {
      position: absolute;
    }
    .pink{
    background-color: #e7740fab; left: 30%; bottom: -150%;
}
.blue{
    background-color: #27daceab; right: 35px; top: 120%; 
}
.orange{
    background-color: #990f50ab;     
    left: 5%;
    top: 49%;
}
  }
  
