@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #b56ca2;
    --link-color: rgb(250, 250, 250);
}

h3 {
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;

}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
}

.header {
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: auto;

}


.header .left {
    width: 20%;
    float: left;

}

.header .right {
    width: 80%;
    float: right;
    margin-top: 0%;
    height: 125px;
}

.img-header {
    height: 100px;

}

.links {
    text-decoration: none;
    text-align: right;
    list-style: none;
    padding: 0% 15%;

}

.links-list {
    color: var(--link-color);
}

.links .inline {

    display: inline-block;
    padding: 1rem;
    font-size: x-large;
}

.body-content {
    /* font-family: 'Square Peg', cursive; */
    padding-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    /* font-weight: 1000px; */
    /* background-image: url(image/body.jpg); */
    background-size: cover;
    height: 600px;
    padding: 2rem;
    /* box-shadow: inset 0 0 0 1000px rgba(181, 108, 160, .6); */
    box-shadow: inset 0 0 0 1000px rgba(236, 186, 177, .4);
    /* box-shadow: inset 0 0 0 1000px rgba(136, 89, 136, 0.6); */

}

.header-projects {
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: auto;
    color: var(--link-color);
    padding: 1.5rem;
    font-size: xx-large;
}

.project-list {
    align-self: center;
    margin: 2vh;
    padding: 2vh;
    display: block;
    box-shadow: inset 0 0 0 1000px rgba(236, 186, 177, .4);
    min-height: 5vh;
    max-height: auto;
}

.project-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem 0.4rem;
    font-weight: 500;
}

.project-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem 0.2rem;
    margin: 0.5rem 0.2rem;
    font-weight: 400;
    height: max-content;
}

.project-links .live,
.project-links .git {
    padding: 0.5rem;
    margin: 0.2rem;
    color: var(--link-color);
    background-color: var(--primary-color);
    display: block;
    width: 20rem;
    border-radius: 3vh;
    text-align: center;
    font-size: 1.25rem;
}

.project-links .live:hover,
.project-links .git:hover {
    background-color: var(--link-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}